/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'system-ui', 'Cambay', 'Poppins', 'sans-serif';
}

body {
  padding: 2vh 5vw;
}